@import url('https://fonts.googleapis.com/css2?family=Shadows+Into+Light+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}
h1 {
  font-size: 3rem;
  /* font-family: 'Shadows Into Light Two', cursive; */
  font-family: 'Manrope', sans-serif;
  font-weight: 800;
  margin: 0;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
  font-family: 'Manrope', sans-serif;
  font-weight: 200;
  margin: 0.25em 0 1em 0;
}
h4 {
  font-size: 1.5rem;
}
h5 {
  font-size: 1.25rem;
}
h6 {
  font-size: 1.15rem;
}

html {
	height: 100%;
}

body {
	font-family: 'Manrope', sans-serif;
	font-weight: 300;	
	height: 100%;
	gap: 1px;
	color: #4d4d4d;
	background-color: whitesmoke;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 0;
  }
  body > div {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; 
	background-color: white;
	padding: 2em;
    border-radius: 5px;
    box-shadow: 2px 2px 10px lightgrey;
	width: 800px;
    height: 570px;
	max-width: 50rem;
	position: relative;
  }
  
  .panels-container {
	width: 100%;
	height: 300px;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
  }
  
  .arrow-container {
	height: 100%;
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
  }
  
  .arrow-container > span {
	font-weight: bold;
	color: gray;
	font-size: 1.2em;
  }
  
  .panel-container {
	width: 47%;
  }
  
  .panel {
	width: 100%;
	height: 91%;
	border-radius: 10px;
	overflow: auto;
	display: flex;
	flex-direction: column;
	align-items: left;
	gap: 7px;
	padding: 10px 0;
  }
  
  
  .panel > .panel-item {
	min-height: 50px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: space-between;
	color: white;
	border-radius: 7px;
	position: relative;
	width: 350px;
	box-shadow: 1px 1px 4px gray;
  }
  
  .left-panel > .panel-item:hover::after {
	background-color: rgba(255,255,255,0.6);
	position: absolute;
	top: 0;
	left: 0;
	min-height: 50px;
	border-radius: 7px;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
	content: "Add Activity";
	color: #4d4d4d;
	font-weight: 500;
  }
  
  img.icon {
	width: 16px;
	height: 16px;
	position: absolute;
  }

  img.run-action {
	top: 17px;
    right: 75px;
  }

  img.options {
	right: 45px;
	top: 17px;
  }

  img.remove {
	right: 10px;
	width: 24px;
	height: 24px;
	top: 13px;
  }

  img.icon:hover {
	  cursor: pointer;
  }

  /* width */
  ::-webkit-scrollbar {
	width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
	background: #f1f1f1;
	border-radius: 10000000px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 1000000000px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
	background: #555;
  }
  
  .panel-item > * {
	margin-left: 15px;
	font-weight: 500;
    letter-spacing: 1px;
  }

  .panel-item > span {
	  min-height: 50px;
	  display:flex;
	  align-items: center;
  }

  .highlight {
	border: 5px solid green;
  }

  .act-options > div {
	display: flex;
    align-items: center;
    width: 100%;
    margin: 0 0 7px 0;
  }

  .act-options > div > span {
	  font-weight: 300;
	  margin-right: 7px;
  }
  .act-options > div > input {
	height: 20px;
  }

 .act-options > div > input[type=text], select {
    width: 77%;
    border-radius: 4px;
    border: none;
 } 

 select {
	 height: 20px;
	 width: 60%;
	 background-color: white;
 }

  button {
	all: unset;
	background-color: whitesmoke;
	padding: 10px;
	border-radius: 4px;
	box-shadow: 1px 1px 2px lightgray;
	border: 1px solid whitesmoke;
	transition: box-shadow 0.3s ease;
	width: 20px;
	height: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
  }
  
  .buttons-container {
	  padding-top: 40px;
	  width: 100%;
	  display:flex;
	  justify-content: flex-end;
	  align-items: center;
	  gap: 10px;
  }

  .dropdown > button {
	width: fit-content;
    height: 4px;  
  }

  button > img {
	height: 20px;
	width: 20px;
	transition: height 0.25s ease, width 0.25s ease;
  }

  button:hover img {
	height: 25px;
	width: 25px;
  }

  button:hover {
	border: 1px solid lightgray;
	cursor: pointer;
  }

  button:hover::after {
	content: attr(data);
	position: absolute;
	font-weight: bold;
	font-size: small;
	top: -20px;
	color: #4d4d4d;
  }

  .dropdown {
	position: relative;
	display: inline-block;
  }

  .dropdown-content {
	display: none;
	position: absolute;
	right: 0px;
	top: 27px;
	background-color: #f1f1f1;
	min-width: 160px;
	box-shadow: 2px 2px 4px 0px rgba(0,0,0,0.2);
	z-index: 1;
	border-radius: 5px;
  }
  
  .dropdown-content a {
	color: black;
	padding: 5px 8px;
	text-decoration: none;
	display: block;
	font-size: 12px;
  }
  
  .dropdown-content a:hover { 
	background-color: #ddd; 
  }

  .dropdown-content a:hover:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
  }

  .dropdown-content a:hover:last-child {
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
  }

  
  .dropdown:hover .dropdown-content {
	  display: block;
   }

   .popup {
	   position: absolute;
	   /* top: 50%;
	   left: 50%;
	   transform: translateX(-50%); */
	   margin: auto;
	   background-color: #f64b2f;
	   color: white;
	   padding: 10px;
	   border-radius: 5px;
	   border: 2px solid #dd3519;
	   box-shadow: 1px 4px 4px grey;
	   transition: opacity 0.3s ease-out, transform 0.3s ease-out;
	   opacity: 1;
	   display: none;
   }

   .displayable {
	   display: block;
   }

   .invisible {
	   opacity: 0;
	   transform: translateY(-30%);
   }