version: "3.7"

x-yarp-base: &yarp-base
  image: robotology/yarp
  network_mode: bridge
  volumes: 
    - "/Users/vtikha/Dev/tmp:/outcome"

services:
    yarp-server:
      <<: *yarp-base
      command: sh -c "yarp where | grep 'is available at ip' > /dev/null ; if [ ! $$? -eq 0 ]; then yarpserver --write; fi"

    listener:
      <<: *yarp-base
      depends_on:
        - yarp-server      
      command: sh -c "yarp detect --write && yarp read /test_read"

    talker:
      <<: *yarp-base
      depends_on:
        - listener
      command: sh -c "yarp detect --write && echo \"Hello world\" | yarp write ... /test_read"