.grid {
    display: grid;
    grid-template: 150px 150px 150px / 150px 150px 150px 150px;
    grid-gap: 10px;
    background-color: #ffffff;
    padding: 10px;
}
.draggable {
    background-color: #0d10b6;
    box-shadow: 10px 10px 10px #7777;
}

.draggable, .droppable.draggable-dropzone--occupied{
    width: 100px; 
    height: 100px; 
}
.droppable{
    width: 100px; 
    height: 100px;
    border: solid;
    display: flex;
}