# this workflow will generate the containers on push. These containers are for test only, so ideally they should be uploaded to a private repo, not available to the public. tag=graspTheBall_devel (?)
# for the stable versions, use graspTheBall_builder_stable.yml, triggered on release

name: GTB_onCodeChanges

on: 
    repository_dispatch:
        types: [GTB_onCodeChanges,GTB_onSBRelease]

jobs:
    job_1:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              with:
                  repository: icub-tech-iit/code
                  token: ${{ secrets.CODE_REPO_ACCSS_TOKEN }}

            - name: Login to DockerHub Registry
              run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin


############## build the unstable version of graspTheBall ##############
            
            - name: Test payload information
              run: echo ${{ github.event.client_payload }}
            - name: Build graspTheBall Docker full image
              run: docker build --build-arg ${{ github.event.client_payload.extra_payload.unst_base_image_for_GTB_src }} --build-arg ${{ github.event.client_payload.extra_payload.unst_sb_base_image_for_GTB_bin }} ${{ github.event.client_payload.extra_payload.docker_path }} --file ${{ github.event.client_payload.extra_payload.docker_path }}/Dockerfile --tag ${{ github.event.client_payload.extra_payload.grasptheball_unst_src }}
            - name: Push graspTheBall Docker full image
              run: docker push ${{ github.event.client_payload.extra_payload.grasptheball_unst_src }}
 
#########################################################################################


############## build the unstable version of graspTheBall ##############
            - name: Build graspTheBall Docker thin image
              run: docker build --build-arg ${{ github.event.client_payload.extra_payload.unst_base_image_for_GTB_bin }} --build-arg ${{ github.event.client_payload.extra_payload.unst_sb_base_image_for_GTB_bin }} ${{ github.event.client_payload.extra_payload.docker_path }} --file ${{ github.event.client_payload.extra_payload.docker_path }}/Dockerfile4Production --tag ${{ github.event.client_payload.extra_payload.grasptheball_unst_bin }}
            - name: Push graspTheBall Docker thin image
              run: docker push ${{ github.event.client_payload.extra_payload.grasptheball_unst_bin }}

#########################################################################################

    job_2:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              with:
                  repository: icub-tech-iit/code
                  token: ${{ secrets.CODE_REPO_ACCSS_TOKEN }}

            - name: Login to DockerHub Registry
              run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin


############## build the stable version of graspTheBall ##############
            - name: Build graspTheBall Docker full image
              run: docker build --build-arg ${{ github.event.client_payload.extra_payload.stab_base_image_for_GTB_src }} --build-arg ${{ github.event.client_payload.extra_payload.stab_sb_base_image_for_GTB_bin }} ${{ github.event.client_payload.extra_payload.docker_path }} --file ${{ github.event.client_payload.extra_payload.docker_path }}/Dockerfile --tag ${{ github.event.client_payload.extra_payload.grasptheball_stab_src }}
            - name: Push graspTheBall Docker full image
              run: docker push ${{ github.event.client_payload.extra_payload.grasptheball_stab_src }}
 
#########################################################################################

############## build the stable version of graspTheBall ##############
            - name: Build graspTheBall Docker thin image
              run: docker build --build-arg ${{ github.event.client_payload.extra_payload.stab_base_image_for_GTB_bin }} --build-arg ${{ github.event.client_payload.extra_payload.stab_sb_base_image_for_GTB_bin }} ${{ github.event.client_payload.extra_payload.docker_path }} --file ${{ github.event.client_payload.extra_payload.docker_path }}/Dockerfile4Production --tag ${{ github.event.client_payload.extra_payload.grasptheball_stab_bin }}
            - name: Push graspTheBall Docker thin image
              run: docker push ${{ github.event.client_payload.extra_payload.grasptheball_stab_bin }}

#########################################################################################

    job_3:
        runs-on: ubuntu-latest
        steps:
            - uses: actions/checkout@v2
              with:
                  repository: icub-tech-iit/code
                  token: ${{ secrets.CODE_REPO_ACCSS_TOKEN }}

            - name: Login to DockerHub Registry
              run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin


############## build the unstable version of graspTheBall for gazebo ##############
            - name: Test payload information
              run: echo ${{ github.event.client_payload }}
            - name: Build graspTheBall Docker thin image for gazebo
              run: docker build --build-arg ${{ github.event.client_payload.extra_payload.unst_base_image_for_GTBGZ_bin }} --build-arg ${{ github.event.client_payload.extra_payload.unst_gz_base_image_for_GTBGZ_bin }} ${{ github.event.client_payload.extra_payload.docker_path }} --file ${{ github.event.client_payload.extra_payload.docker_path }}/Dockerfile4Production --tag ${{ github.event.client_payload.extra_payload.grasptheballgazebo_unst_bin }}
            - name: Push graspTheBall Docker thin image for gazebo
              run: docker push ${{ github.event.client_payload.extra_payload.grasptheballgazebo_unst_bin }}


############## build the unstable version of graspTheBall for gazebo ##############
            
            - name: Test payload information
              run: echo ${{ github.event.client_payload.extra_payload.unst_gz_base_image_for_GTBGZ_src }}
            - name: Build graspTheBall Docker full image for gazebo
              run: docker build --build-arg ${{ github.event.client_payload.extra_payload.unst_gz_base_image_for_GTBGZ_src }} ${{ github.event.client_payload.extra_payload.docker_path }} --file ${{ github.event.client_payload.extra_payload.docker_path }}/Dockerfile --tag ${{ github.event.client_payload.extra_payload.grasptheballgazebo_unst_src }}
            - name: Push graspTheBall Docker full image for gazebo
              run: docker push ${{ github.event.client_payload.extra_payload.grasptheballgazebo_unst_src }}
 
#########################################################################################


